<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DADADAD</title>
</head>
<body>
            <form action="~/Home/GetData" method="post">
                <label>Фамилия</label>
                <input type="text" name="SurName" value="Varenkov" /><br />
                <label>Имя</label>
                <input type="text" name="Name" value="Ivan" /><br />
                <label>Отчество</label>
                <input type="text" name="Otch" value="Keshkovich" /><br />
                <label>Номер</label>
                <input type="text" name="Phone" value="+7(777)777-77-77" /><br />
                <label>Адрес</label>
                <input type="text" name="Address" value="Kupatov 27a" /><br />
                <label>Описание</label>
                <input type="text" name="Caption" value="K" /><br />
                <input type="submit" value="Отправить" />
            </form>
</body>
</html>